<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService port="8100" path="/" host="localhost" name="Web-Bidgely-Dashboard-E 2" routeModeEnabled="false" routeEndpoint="https://qa-priv.anypoint.ameren.com" autoStart="true" httpSecure="true" id="a3bc1c68-595f-4bb7-8897-0d454a67ccc0" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a3bc1c68-595f-4bb7-8897-0d454a67ccc0fileName">Web-Bidgely-Dashboard-E-2</con:setting>
  </con:settings>
  <con:properties/>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:headerValidator type="NONE"/>
</con:restMockService>
