<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService port="8101" path="/" host="localhost" name="web-outage-e 2" routeModeEnabled="false" routeEndpoint="https://qa-priv.anypoint.ameren.com" httpSecure="true" id="f9ed917c-802e-4cac-b6c8-10ed643e8818" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f9ed917c-802e-4cac-b6c8-10ed643e8818fileName">web-outage-e-2</con:setting>
  </con:settings>
  <con:properties/>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:headerValidator type="NONE"/>
</con:restMockService>
